/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Mobile */
@media (max-width: 700px) {

.titles {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
h1 {
    font-weight: bold;
    font-size: 20px; 
    margin-bottom: 2rem;
    margin-top: 2rem;
}

form {
    width: 380px;
    height: 100%;
}

input {
    height: 40px;
    width: 370px;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74); 
    font-size: 14px;
}

input::placeholder {
    position: absolute;
    color: rgb(0, 0, 0);
    left: 10px;
   
}

button {
    font-size: 14px;
    background-color: rgb(215, 199, 186, 0.2);
    height: 40px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid rgb(74, 74, 74); 
}

button:hover {
    background-color: rgb(215, 199, 186);
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgb(215, 199, 186);
}

input[type="file"]::file-selector-button {
    border: 1px solid rgb(74, 74, 74);
    cursor: pointer;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(215, 199, 186, 0.2);
    padding: 10px 12px;
    font-size: 14px;
    margin-right: 1.5rem;

}


textarea {
    height: 140px;
    width: 370px;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74); 
    font-size: 14px;

}
}

/* Desktop */
@media (min-width: 700px) {

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    h1 {
      font-weight: bold;
        font-size: 35px;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }


label, input {
   
    font-size: 18px;
}

input {
    height: 40px;
    width: 680px;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74); 
}

input::placeholder {
    position: absolute;
    color: rgb(0, 0, 0);
    left: 10px;
   
}

button {
    font-size: 18px;
    background-color: rgb(215, 199, 186, 0.2);
    height: 50px;
    width: 120px;
    border-radius: 3px;
    border: 1px solid rgb(74, 74, 74); 
}

button:hover {
    background-color: rgb(215, 199, 186);
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgb(215, 199, 186);
}

input[type="file"]::file-selector-button {
    border: 1px solid rgb(74, 74, 74);
    cursor: pointer;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(215, 199, 186, 0.2);
    padding: 10px 12px;
    font-size: 18px;
    margin-right: 1.5rem;
}

textarea {
    height: 140px;
    width: 680px;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74); 
    font-size: 18px;

}


}